# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

List1/*
List2/*
List3/*
List4/*
List5/*
List6/*
List7/*
List8/*
List9/*

!List1/*.c
!List2/*.c
!List3/*.c
!List4/*.c
!List5/*.c
!List6/*.c
!List7/*.c
!List8/*.c
!List9/*.c
